name: Docker build on push
env:
        DOCKER_CLI_EXPERIMENTAL: enabled
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true

on: push

jobs:
        build:
                runs-on: ubuntu-18.04
                name: Build and push all the stuff defined in this repo
                steps:
                        - name: Set env variables
                          run: echo "::set-env name=BRANCH::$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//-/g')"

                        - name: Show set env variables
                          run: |
                                  printf "    BRANCH: %s\n"  "$BRANCH"

                        - name: Login to Docker Hub
                          run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

                        - name: Checkout project
                          uses: actions/checkout@v2

                        - name: Setup Docker buildx action
                          uses: crazy-max/ghaction-docker-buildx@v1
                          id: buildx
                          with:
                                  buildx-version: latest
                                  qemu-version: latest

                        - name: Show available Docker buildx platforms
                          run: echo ${{ steps.buildx.outputs.platforms }}

                        - name: Cache Docker layers
                          uses: actions/cache@v2
                          id: cache
                          with:
                            path: /tmp/.buildx-cache
                            key: ${{ runner.os }}-buildx-${{ github.sha }}
                            restore-keys: |
                              ${{ runner.os }}-buildx-

                        - name: Run Docker buildx against the current branch (CLIGHTNING)
                          run: |
                                  docker buildx build \
                                  --cache-from "type=local,src=/tmp/.buildx-cache" \
                                  --cache-to "type=local,dest=/tmp/.buildx-cache" \
                                  --platform linux/amd64,linux/arm64 \
                                  --tag ${{ secrets.DOCKER_HUB_USER }}/clightning:branch-$BRANCH \
                                  --output "type=registry" .

                        - name: build CLIGHTNING against latest
                          run: |
                                  docker buildx build \
                                  --cache-from "type=local,src=/tmp/.buildx-cache" \
                                  --cache-to "type=local,dest=/tmp/.buildx-cache" \
                                  --platform linux/amd64,linux/arm64 \
                                  --tag ${{ secrets.DOCKER_HUB_USER }}/clightning:latest \
                                  --output "type=registry" .

                        - name: Push to GHCR.io too (ghcr.io/lncm/clightning)
                          run: |
                                  if [[ ! -z ${{ secrets.MAINTAINER_TOKEN }} ]] && [[ ! -z ${{ secrets.MAINTAINER_USER }} ]]; then
                                      echo "${{ secrets.MAINTAINER_TOKEN }}" | docker login https://ghcr.io -u "${{ secrets.MAINTAINER_USER }}" --password-stdin
                                      docker buildx build \
                                        --cache-from "type=local,src=/tmp/.buildx-cache" \
                                        --cache-to "type=local,dest=/tmp/.buildx-cache" \
                                        --platform linux/amd64,linux/arm64 \
                                        --tag ghcr.io/${{ secrets.DOCKER_HUB_USER }}/$DOCKER_HUB_REPO:master-$SHORTSHA \
                                        --output "type=registry" .
                                      docker buildx build \
                                        --cache-from "type=local,src=/tmp/.buildx-cache" \
                                        --cache-to "type=local,dest=/tmp/.buildx-cache" \
                                        --platform linux/amd64,linux/arm64 \
                                        --tag ghcr.io/${{ secrets.DOCKER_HUB_USER }}/$DOCKER_HUB_REPO:latest \
                                        --output "type=registry" .
                                  else
                                      echo "MAINTAINER_TOKEN and MAINTAINER_USER do no exist! Skipping!"
                                  fi


                                      

